In [1]:
import pandas as pd
import pylab as plt
%matplotlib inline
import numpy as np

df=pd.read_csv('data/train.csv', sep=',')

In [2]:
import sklearn.linear_model as Linear_Model
LogisticRegression = Linear_Model.LogisticRegression()

In [3]:
df['Sex_'] = df['Sex'].apply(lambda x: 0 if x=='female' else 1)
msk = np.random.rand(len(df)) < 0.8
_train = df[msk]
_validation = df[~msk]

In [4]:
LogisticRegression.fit(_train['Sex_'][:,np.newaxis],_train['Survived'])

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [5]:
predict = LogisticRegression.predict(_validation['Sex_'][:,np.newaxis])

In [6]:
correct_rate = 1-abs(_validation['Survived']-predict).sum()/float(len(_validation))

In [8]:
print correct_rate

0.773399014778

In [9]:
test = pd.read_csv('data/test.csv', sep=',')
test['Sex_'] = test['Sex'].apply(lambda x: 0 if x=='female' else 1)

In [10]:
test['Survived'] = LogisticRegression.predict(test['Sex_'][:,np.newaxis])

In [11]:
import csv as csv
predictions_file = open("gendermodel.csv", "wb")
predictions_file_object = csv.writer(predictions_file)
predictions_file_object.writerow(["PassengerId", "Survived"])	# write the column headers
for index, row in test.iterrows():									# For each row in test file,
    predictions_file_object.writerow([row['PassengerId'], row['Survived']])			# write the PassengerId, and predict 1
predictions_file.close()

In [12]:
test[['PassengerId','Sex','Sex_','Survived']]

     PassengerId     Sex  Sex_  Survived
0            892    male     1         0
1            893  female     0         1
2            894    male     1         0
3            895    male     1         0
4            896  female     0         1
5            897    male     1         0
6            898  female     0         1
7            899    male     1         0
8            900  female     0         1
9            901    male     1         0
10           902    male     1         0
11           903    male     1         0
12           904  female     0         1
13           905    male     1         0
14           906  female     0         1
15           907  female     0         1
16           908    male     1         0
17           909    male     1         0
18           910  female     0         1
19           911  female     0         1
20           912    male     1         0
21           913    male     1         0
22           914  female     0         1
23           915    male     1         0
24           916  female     0         1
25           917    male     1         0
26           918  female     0         1
27           919    male     1         0
28           920    male     1         0
29           921    male     1         0
..           ...     ...   ...       ...
388         1280    male     1         0
389         1281    male     1         0
390         1282    male     1         0
391         1283  female     0         1
392         1284    male     1         0
393         1285    male     1         0
394         1286    male     1         0
395         1287  female     0         1
396         1288    male     1         0
397         1289  female     0         1
398         1290    male     1         0
399         1291    male     1         0
400         1292  female     0         1
401         1293    male     1         0
402         1294  female     0         1
403         1295    male     1         0
404         1296    male     1         0
405         1297    male     1         0
406         1298    male     1         0
407         1299    male     1         0
408         1300  female     0         1
409         1301  female     0         1
410         1302  female     0         1
411         1303  female     0         1
412         1304  female     0         1
413         1305    male     1         0
414         1306  female     0         1
415         1307    male     1         0
416         1308    male     1         0
417         1309    male     1         0

[418 rows x 4 columns]